# Ignore Python venv
venv/
.venv/

# Ignore cache
__pycache__/
*.pyc

# Ignore environment files
.env
# Python
__pycache__/
*.pyc

# Virtual environment
.venv/
venv/

# IDE
.vscode/
.idea/

# Others
*.log
